.bottom-footer {
  height: 4vh;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-footer p {
  margin: 0;
  font-size: 0.8rem;
}

.heart-icon {
  font-size: 0.8rem;
  position: relative;
  bottom: -0.5vh;
}

@media screen and (max-width: 400px) {
  .bottom-footer {
    height: 3vh;
  }
  
  .bottom-footer p {
    font-size: 0.5rem;
  }
  
  .heart-icon {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 600px) {
  .bottom-footer {
    height: 5vh;
  }
  
  .bottom-footer p {
    font-size: 0.9rem;
  }

  .heart-icon {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1000px) {
  .bottom-footer {
    height: 5vh;
    background-color: #282c34;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bottom-footer p {
    margin: 0;
  }
  
  .heart-icon {
    position: relative;
    bottom: -0.5vh;
  }
}