.menu {
  height: 96vh;
  width: 100vw;
  background-image: linear-gradient(185deg, rgba(237,64,60,0.5), rgba(0,172,172,0.5), rgb(0,172,172));
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-box {
  height: 80vh;
  width: 85vw;
  background-color: rgba(255, 255, 255, 0.502);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.menu-box img {
  width: 50vw;
}

.menu-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}

.menu-btn {
  width: 60vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: darkcyan; */
  /* background-color: sienna; */
  background-color: slategrey;
  box-shadow: 2px 2px 10px 1px gray;
}

.menu-btn:hover {
  background-color: crimson;
}

.menu-btn span {
  font-size: 0.7rem;
  margin-left: 20px;
}

.links:hover {
  color: white;
}

@media screen and (max-width: 400px) {
  .menu {
    height: 97vh;
  }

  .menu-btn span {
    font-size: 0.5rem;
    margin-left: 10px;
  }
}

@media screen and (min-width: 600px) {
  .menu {
    height: 95vh;
  }

  .menu-box img {
    width: 40vw;
  }

  .menu-btn {
    width: 55vw;
  }

  .menu-btn span {
    font-size: 0.8rem;
  }

}

@media screen and (min-width: 800px) {
  .menu-box img {
    width: 30vw;
  }
}

@media screen and (min-width: 1000px) {
  .menu {
    height: 95vh;
  }
  
  .menu-box {
    width: 70vw;
  }
  
  .menu-box img {
    width: 20vw;
  }
  
  .menu-btn {
    width: 50vw;
  }
}

